html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/*a{*/
    /*color: #174744;*/
    /*text-decoration: none;*/
/*}*/
p {
    line-height: 24px;
}

.topspace{
    margin: 30px 0 5px 0;
}
nav.main2  ul.main2-nav > li, nav.main1 ul.main-nav > li, .main2-nav-fixed > li, nav.main1 ul.main1-nav > li{
    display: inline-block;
    margin: 0 20px;
}
nav.main1{
    padding: 0;
    height: 90px;
    width: 100%;
    background-color: #f8f8f8;
}
nav.main1 ul.main1-nav{
    list-style: none;
    display: inline-block;
    margin: 30px 0 0 0  ;
    padding: 0;
    float: right;
}
nav.main1 ul.main1-nav li a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 2;
    color: #849392;
}
nav.main1 ul.main1-nav li a:hover{
    color: #009D93;
    background-color: #eee;
}
nav.main1 ul.main1-nav li.active{
    border-bottom: 1px solid #ccc;
}

nav.main2{
    margin:0;
    border-top: 1px solid #dee0df;
    background-color: #fff;
    border-bottom: 2px solid #217774;
    z-index: 5;
}
nav.main2 ul.main2-nav, ul.main2-nav-fixed{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
    padding-top: 12px;
}
nav.main2 ul.main2-nav a, .main2-nav-fixed a{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    color: #174744;
    text-transform: uppercase;
}
.main2-nav-fixed a:hover, nav.main2 ul.main2-nav a:hover{
    color: #20976d;
}
nav.main2-fixed{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;

    background-image: -webkit-linear-gradient(top,#fff 65%,#f3f3f3);
    background-image: -moz-linear-gradient(top,#fff 65%,#f3f3f3);
    background-image: -ms-linear-gradient(#fff 65%,#f3f3f3 100%);
    background-image: linear-gradient(to bottom,#fff 65%,#f3f3f3);
    border-bottom: 2px solid #B2C0BF;
    /*box-shadow: 0 1px 1px rgba(0,0,0,.36);*/
    z-index: 2;
}
nav.main2-fixed .main2-fixed-bg{
    background: url('../assets/cloud-bar.png') repeat-x;
    width: 100%;
    height: 10px;
}
nav.main2 .main2-nav-fixed{
    display: block;
    margin: 0 auto;
    padding: 0px 25px;
}
nav.main2 .main2-nav-fixed li a{
    display: block;
    float: left;
    font-size: 1.75em;
    font-weight: bold;
    color: #96aed8;
    line-height: 80px;
    text-decoration: none;
    padding: 0px 8px;
    margin-right: 6px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.main-div{
    padding: 15px 0 0 0;
    height: 0;
    height: 490px;
    width: 100%;
    background-color: #f3f3f3;
}
.main-div-white{
    padding: 15px 0 0 0;
    height: 0;
    height: 490px;
    width: 100%;
    background-color: #fff;
}
.main-slide{
    padding: 0;
    height: 410px;
    width: 100%;
    position: relative;
    background: #f3f3f3 url('../assets/main-slide-bg.png') repeat;
}
.container-slide{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}
.main-slide .cloud1{
    position: absolute;
    z-index: 4;
    bottom: -25px;
}
.owl-controls{
    position: relative;
}
.owl-dots{
    position: absolute;
    left: 490px;
    bottom: 10px;
}

.show-left{
    padding-left: 100px;
}
.glyphicon-th{
  margin-top: 12px;
  color: #ccc;
  font-size: 20px;
}
.date{
    font-size: 13px;
    color:#898989;
}
.space{
    padding-top: 70px;
}



.static-title{
    margin:30px 0 20px 0;
}
.static-title h1{
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.flag{
    border: 1px solid #eee;
}
.position{
    position: relative;
}
.flag_position{
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid #eee;
}
.image_border{
    border: 1px solid #eee;
}
/*layout start*/
.layout{
    display: block;
    padding: 12px 0 16px 0;
    overflow: hidden;
}
.layout1{
    width: 100%;
    overflow: hidden;
}
.layout1 .col-1{
    float: left;
    width: 50%;
}
.layout1 .col-2{
    float: right;
    width: 50%;
}
.layout1 .col-2 a{
    font-size: 12px;
}
.layout1 .col-3{
    float: left;
    width: 33.3%;
}
/*layout end*/

/*footer start*/
footer{
    background-color: #144745;
}
footer h4{
    color: #20976d;
}
footer a{
    color: #B3DFD6;
    font-size: 13px;
}
footer ul{
    padding-left:20px;
}
footer ul li{
    list-style: none;
}
footer .address{
    border-top:1px solid #115653;
    padding: 15px 0 ;
    color: #3B9996;
    font-size: 13px;
    text-align: center;
}
