@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: 'Open Sans', sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}
.container{
  width:@container-desktop;
}

h1,h2,h3,h4{
  font-weight: 300;
  color:#000;
  margin-top: 15px;
  margin-bottom: 10px;
}
h4{
  font-size: 18px;
}
a{
  color: #174744;
  line-height: 1.428571429em;
  &:hover {
    color: #20976d;
    text-decoration: none;
  }
}

@nav-link-padding: 10px 19px;
@navbar-default-color: #174744;
@navbar-default-link-color: #174744;
@navbar-default-link-hover-color: #009D93;
@navbar-default-link-hover-bg: #f9f9f9;

.page-header{
  margin:40px 0 20px;
}
.navbar-nav {
  border-radius: 0;
}
.navbar-nav > li > a{
  font-size: 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{
  color: #fff;
  background-color: #217774;
}


