@import "bootstrap/bootstrap";

@btn-font-weight: 400;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 400;
}
.container{
  width:@container-desktop;
}

h1,h2,h3,h4{
  font-weight: 400;
  color:#277d7a;
  margin-top: 15px;
  margin-bottom: 10px;
}
a{
  color: #174744;
  line-height: 1.428571429em;
  &:hover {
    color: #20976d;
    text-decoration: none;
  }
}

@nav-link-padding: 10px 19px;
@navbar-default-color: #174744;
@navbar-default-link-color: #174744;
@navbar-default-link-hover-color: #277d7a;

.page-header{
  margin:40px 0 20px;
}

.navbar-nav > li > a{
  font-size: 15px;
}


